/exercise1.class
/exercise2.class
/exercise3.class
/exercise4.class
/exercise5.class
/exercise7.class
/exercise8.class
/exercise9.class
/exercise13.class
/exercise12.class
/exercise6.class
/exercise11.class
/exercise10.class
